<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clucks</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    
    <div class="d-grid gap-3">
        <div class="p-2 bg-light border">
    
    <nav class=" nav nav-pills flex-column flex-md-row">
        <a class="navbar-brand" href="/clucks">
            <div class=" m-3 brand">
                  <img src="/image/checken.jpg" class="img-fluid">
            </div>
      </a>
     
      <a  class=" t flex-sm-fill text-md-center nav-link px-3" href="/clucks/new">Clucks!</a>
      <a  class=" flex-sm-fill text-md-center nav-link px-3" href="/sign_in">Sign In</a>

      
   
        
    </nav>
</div>
    </div>

    
